{% extends 'base.html' %}

{% block title %}Survey Complete!{% endblock %}

{% block content %}

<p class="lead text-center d-grid gap-2 col-7 mx-auto">Thank you for taking the time to complete our survey! Your answers will be super helpful for something probably.</p>
<form action="/">

    <div class="d-grid gap-2 col-3 mx-auto">
        <button class="btn btn-lg btn-primary mt-4 p-2">Start Over</button>
    </div>
</form>


<!-- <p class="lead text-center">Thank you for taking the time to complete our survey!</p> -->


{% endblock %}